.user-info
  .user-info__user-name
    UserName
  .user-info__edit-user-button
    -# リンク先 edit_user_path(@user)で合ってる?
    = link_to "#" do
      = fa_icon("cog lg")
  .user-info__create-group-button
    -# リンク先 new_group_path で合ってる?
    = link_to "#" do
      = fa_icon("edit lg")
-# @user.groups.each do |group| class""が回数分変わる中でどうスタイル適用する?
-# link_to ? do(group_path)
.group-index-box
  .group-index-box__group-name
    グループ1
  .group-index-box__group-message
    メッセージ1
.group-index-box
  .group-index-box__group-name
    グループ2
  .group-index-box__group-message
    メッセージ2
.group-index-box
  .group-index-box__group-name
    グループ3
  .group-index-box__group-message
    メッセージ3


/ <% if user_signed_in? && current_user.id == tweet.user_id %>

