.wrapper
  .sidebar
    -# localsのパラメータが合ってるかわからん(@groups要る?)
    = render partial: 'shared/sidebar', locals: { user: @user }
  .message-contents
    .message-contents__header
      .message-contents__header__group-info
        .message-contents__header__group-info__group-name
          = link_to 'GroupName', '/groups/1/edit'
        .message-contents__header__group-info__group-member
          groupmenber
      / リンク先 edit_group(@group)?
      .message-contents__header__edit-button
        Edit
    .message-contents__body
      .message-contents__body__user-name
        username1
      .message-contents__body__created-at
        2018/0101 10:00
      .message-contents__body__text
        text1
      .message-contents__body__user-name
        username2
      .message-contents__body__created-at
        2018/0101 12:00
      .message-contents__body__text
        text2
    .message-contents__footer
      %form.message-form{action: '#', enctype: "multipart/formdata"}
        %input.message-form__text{type: "text", placeholder: "type a text"}
        .message-form__file
          %label.message-form__file__icon{for: "send-file"}
            = fa_icon("image lg")
          %input#send-file.message-form__file__send-file{type: "file"}
        %input.message-form__submit{type: "submit", value: "Send"}

