// common
$white: #FFFFFF;
$gray: #333333;
$thinGray: #999999;

// notice & edit-button & send-button
$lightBlue: #38AEF0;

// sidebar
$sidebarBackColor: #2f3e51;
$sidebarWidth: 300px;
$sidebarPadding: 20px;

// user-info
$userInfoBackColor: #253141;
$userInfoHeight: 100px;

// group-index
$groupIndexBoxPadding: 20px;

// message-contents
$messageContentsPadding: 40px;

// message-contents-header
$messageHeaderHeight: 100px;

// message-contents-body
$messageBodyTextColor: #434A54;

// message-contents-fotter
$messageFormHeight: 50px;


