// common
$white: #FFFFFF;

// notice & send-button
$lightBlue: #38AEF0;

// sidebar
$sidebarBackColor: #2f3e51;
$sidebarWidth: 300px;
$sidebarPadding: 20px;

// user-info
$userInfoBackColor: #253141;
$userInfoHeight: 100px;

// group-index
$groupIndexBoxPadding: 20px;
