// sidebar
.sidebar {
  width: $sidebarWidth;
  // height: 100%;
  float: left;
  color: $white;
  background-color: $sidebarBackColor;
  padding-bottom: 32768px;
  margin-bottom: -32768px;
  position: fixed;
  left: 0px;
  overflow: hidden;
  .user-info {
    height: $userInfoHeight;
    width: $sidebarWidth - 40px;
    padding: 0 $sidebarPadding;
    position: absolute;
    top: 0px;
    background-color: $userInfoBackColor;
    &__user-name {
      float: left;
      font-size: 16px;
      line-height: $userInfoHeight;
    }
    &__create-group-button {
      float: right;
      line-height: $userInfoHeight;
      padding: 5px;
    }
    &__edit-user-button {
      float: right;
      line-height: $userInfoHeight;
      padding: 5px;
    }
  }
  .group-index {
    margin-top: $userInfoHeight;
    overflow: scroll;
    &__box {
      padding: $groupIndexBoxPadding $sidebarPadding;
      a {
        text-decoration: none;
        color: $white;
        .group-index__box__group-name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        .group-index__box__group-message {
          font-size: 11px;
        }
      }
    }
  }
}
